{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; {{ title }}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <p>{{ description }}</p>

        <form method="post" novalidate>
            {% csrf_token %}

            {% if form.non_field_errors %}
                <ul class="errorlist nonfield">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <fieldset class="module aligned">
                {% for field in form %}
                    <div class="form-row{% if field.errors %} errors{% endif %}">
                        {{ field.errors }}
                        <div>
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <div class="help">{{ field.help_text }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </fieldset>

            <div class="submit-row">
                <input type="submit" class="default" value="CSV herunterladen">
            </div>
        </form>
    </div>
{% endblock %}
